* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ====generic styling===== */
.mg-bt{ margin-bottom: 6%;}
.mg-b{margin-bottom: 4%;}
.blu{color: #2741c3}
.display-grid {
    display: grid;
}
.cart{
    width: 30px;
    height: 30px;
}
.search{
    width: 40px;
    height: 40px;
}
.cartNo{
    position: absolute;
    top: 0;
    color: orange;
}
a{
    text-decoration: none;
}
.d-contact{
    background: linear-gradient(12deg,#bcbbd2,#cce6ef,#e7c8e0);
    width: 80%;
    margin-left: 20%;
    position: sticky;
    top: 0;
    z-index: 100;
}
.shownav{
    border: 0;
    padding: 5px 9px;
    font-size: 20px;
    display: none;
    background-color: unset;
}
#hidenav{
    display: none;
}
/* .thehead{
    display: flex;
    justify-content: space-between;
} */
.fs-40{font-size: 40px;}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 5%;
}
.nav1,.nav2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}
.navbar a{
    color: #2741c3;
    font-size: 20px;
}
.navbar a:hover{
    border-bottom: rgba(64, 163, 248, 1) 2px solid;
}
.margin-bt-2 {
    margin-bottom: 10%;
}
.text-mg-bt{
    margin-bottom: 3%;
}
.small-font{
    font-size: 14px;
}
.text-ellipsis{
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.all-product-main-container {
    width: 100%;
}

.sub-all-product-main-container-1 {
    position: fixed;
    width: 20%;
    height: 100vh;
}

.sect-1 {
    background: #ffffff;
    border-radius: 5px;
    display: grid;
    grid-template-rows: repeat(11, 1fr);
    gap: 10%;
    padding-top: 5%;
    padding-left: 10%;
}

.sect-1 a {
    margin-bottom: 2;
    text-decoration: none;
    color: black;
    transition: 2s ease;
}

.sect-1 a:hover {
    color: blueviolet;
    background: rgba(0, 0, 0, 0.05);
    border-bottom: 2px solid blueviolet;
}

.sect-2 {
    margin-top: 60%;
}

.Category {
    margin-top: 5%;
}

.text-align-center {
    text-align: center;
}

.sub-all-product-main-container-2 {
    width: 80%;
    margin-left: 20%;
    grid-template-columns: repeat(4, 1fr);
    gap: 2%;
    padding: 4%;
    background-color: #E5E5E5
}

.product {
    transition: 2s;
    padding: 4%;
    border: 1px solid #cce7d0;
    border-radius: 10px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    background-color: #fff;
}

.product:hover {
    transform: translate(-5px, -5px);
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

.product-img {
    width: 100%;
    object-fit: cover;
    margin-bottom: 5%;
}
.card_container{
    display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
    background-color: #E5E5E5;
    padding: 5%;
    width: 80%;
    margin-left: 20%;
}
.card{
    background-color: white;
    padding: 2%;
    border-radius: 2%;
    width: 31%;
    margin-bottom: 3%;
    box-shadow: 10px 10px 7px grey;  
    transition: 0.5s;
}
.card:hover{
    transform: translateY(-15px);
}
.card-img{
    object-fit: cover;
    width: 100%;
    height: 300px;
}
.all-items-link{
    text-decoration: none;
}

.fa-star {
    color: orange;
    font-size: 14px;
}

.progress-bar {
    border: 1px solid gray;
    border-radius: 25px;
    height: .6rem;
}

.progress-1 {
    height: 100%;
    width: 50%;
    background: orange;
    border-radius: 25px;
}

.progress-2 {
    height: 100%;
    width: 35%;
    background: orange;
    border-radius: 25px;
}

.progress-3 {
    height: 100%;
    width: 70%;
    background: orange;
    border-radius: 25px;
}
.d-footer{
    padding: 5%;
    background: linear-gradient(12deg,#bcbbd2,#cce6ef,#e7c8e0);
    width: 80%;
    margin-left: 20%;
}
.d-foot{
    display: grid;
    grid-template-columns: repeat(4,1fr);   
}
.d-footer a,.d-footer2 a{
    color: #575454;
}


/* ====media query section */

@media only screen and (max-width: 1024px) {
    .navbar{
        display: none;
    }
    .d-contact {
        width: 100%;
    margin-left: unset;
    }
    .sect-1 {
        margin-bottom: 5%;
    }
    .sect-1 a {
        font-size: 13px;
    }
    
    .sub-all-product-main-container-1 {
        display: none;
    }
    .card_container {
        width: 100%;
        margin-left: 0;
        padding: 5%;
    }
    .shownav{
        display: block;
    }
    .card{
       width: 47.5%;
    }
    .d-footer{
        width: 100%;
        margin-left: unset;
    }
    .d-foot{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}


@media screen and (max-width: 480px) {
    .sub-all-product-main-container-2 {
        grid-template-columns: repeat(1, 1fr);
        gap: .5%;
    }
    .product p {
        font-size: 11px;
    }
    .card{
        width: 100%;
     }
     .d-dit{
         text-align: center;
     }
     .shopnow{
         display: none;
     }
}